---
layout: default
---
<script src="live.js" type="text/javascript"></script>
<div class="header">
    <h1><a href="./">{{ site.name }}</a></h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <h1></h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="footer">
    <p>&copy; 2018 <a href="http://alelouis.github.io">Alexis LOUIS</a></p>
</div>
